@media (max-width:1440px) {

    .header,
    .header__top {
        max-width: 1056px;
    }

    .header__text {
        font-size: 80px;
        line-height: 96px;
    }

    .header__buttons a {
        font-size: 17px;
        line-height: 21px;
    }

    main,
    .footer {
        max-width: 950px;
    }

    .count {
        padding: 30px 50px;
    }

    .count__header,
    .tick__header span,
    .power__header span,
    .journey__header span,
    .tokenomics__header,
    .why__header,
    .power__item_green,
    .journey__title,
    .journey__num {
        font-size: 48px;
        line-height: 57px;
    }

    .count__time-num {
        font-size: 96px;
        line-height: 115.2px;

    }

    .count__time-text {
        font-size: 36px;
        line-height: 43.2px;

    }

    .join {
        gap: 40px;
        padding: 12px 82px 0;
        margin-bottom: 12px;

    }

    .join__text {
        font-size: 16px;
        line-height: 19.5px;
        margin-top: 68px;

    }

    .join__img img {
        width: 150px;
    }

    .tick,
    .power,
    .journey,
    .tokenomics,
    .why {
        margin-bottom: 100px;
    }

    .tick__header {
        max-width: 805px;
    }

    .tick__header img {
        width: 200px;
    }

    .tick__content {
        grid-template-columns: 281px 242px 268px;
        padding-top: 100px;
    }

    .tick__images::before {
        width: 242px;
        height: 236px;
        left: 29px;
    }

    .tick__balloons {
        width: 300px;
        top: -74px;
    }

    .tick__item p:first-child,
    .tokenomics__item p:first-child,
    .why__item p:first-child,
    .why__item_center p:first-child {
        font-size: 20px;
        line-height: 24.38px;

    }

    .tick__item p:last-child,
    .power__item p:last-child,
    .journey__text,
    .tokenomics__item p:last-child,
    .security__text,
    .why__item p:last-child,
    .why__item_center p:nth-child(2) {
        font-size: 14px;
        line-height: 17.07px;

    }

    .power__header {
        max-width: 429px;
    }

    .power__item p:first-child {
        font-size: 16px;
        line-height: 19.5px;

    }

    .power__link a,
    .security__buttons a,
    .footer__link a,
    .footer__wallet span {
        font-size: 14px;
        line-height: 16.8px;

    }

    .power__img img {
        width: 219px;
    }

    .power__text {
        margin-bottom: 100px;
    }

    .journey__header {
        margin-bottom: 64px;
    }

    .journey__num {
        width: 150px;
        height: 150px;
    }



    .journey__text {
        max-width: 338px;
    }

    .journey__item {
        gap: 34px;
        margin-bottom: 20px;
    }

    .journey__items-wrapper {
        max-width: 720px;
    }

    .journey__item:nth-child(1)::before,
    .journey__item:nth-child(4)::before {
        height: 4px;
        width: calc(338px + 34px + 78px);

    }

    .journey__item:nth-child(1)::before {
        top: -12px;
    }

    .journey__item:nth-child(4)::before {
        bottom: -12px;
    }

    .journey__num::before {
        height: 4px;
        width: calc(150px + 34px);
        bottom: -12px;
        right: 48%;
    }

    .journey__item:nth-child(2) .journey__num::before {
        right: auto;
        left: 48%;
    }

    .half-circle_small {
        display: block;

    }

    .half-circle_big {
        display: none;
    }

    .tokenomics__header {
        margin-bottom: 31px;
    }

    .tokenomics__graph {
        width: 300px;
    }

    .tokenomics__frog {
        width: 133px;
        bottom: 72px;
        left: 75px;
    }

    .tokenomics__percentage-item {
        width: 154px;
    }

    .tokenomics__percentage-item p:nth-child(1) {
        width: 70px;
        height: 70px;
        font-size: 16px;
        line-height: 19.5px;
        top: -32px;

    }

    .tokenomics__percentage-item p:nth-child(2) {
        font-size: 16px;
        line-height: 19.5px;
        padding: 12px 14px
    }

    .tokenomics__content {
        grid-template-columns: 280px 519px;

    }

    .security {
        padding: 0 70px;
        margin-bottom: 80px;
    }

    .security__content {
        padding: 67px 0 62px 43px;
    }

    .security__header {
        font-size: 58px;
        line-height: 69.6px;

    }

    .security__text {
        width: 250px;
        margin-bottom: 24px;
    }

    .security__header {
        padding: 44px 0 0 0;
    }

    .why__header {
        margin-bottom: 36px;
    }

    .why__item {
        padding: 70px 35px;
        max-width: 310px
    }

    .why__item_center {
        max-width: 330px;
        padding: 58px 34px 0;
    }

    .why__item_center p img {
        width: 120px;
    }

    .why__item p:first-child {
        margin-bottom: 11px;
    }

    .why__item_center p:first-child {
        margin-bottom: 14px;
    }

    .footer {
        padding: 50px 80px 68px 80px;
    }

    .footer__wallet {
        gap: 14px;
    }

    .footer__social a {
        width: 60px;
        height: 60px;
    }

    .footer__social {
        gap: 29px;
    }
}

@media (max-width:1024px) {

    .journey__item:nth-child(1)::before,
    .half-circle_small,
    .journey__num::before,
    .journey__item:nth-child(4)::before {
        display: none;
    }

    .header__bottom {
        padding: 50px 30px 100px;
    }

    .header,
    .header__top {
        max-width: 98vw;
    }

    .header__text {
        -webkit-text-stroke: 3px #742AFB;
        font-size: 64px;
        line-height: 78px;
        margin-bottom: 80px;
    }

    main,
    .footer {
        max-width: 96vw;
    }

    .tokenomics__content {
        grid-template-columns: 32% 64%;
    }

    .tokenomics__graph {
        width: 24vw;
    }

    .tokenomics__stat {
        justify-content: space-around;
    }

    .tokenomics__frog {
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        width: 54.7%;
    }

    .journey__num {
        width: 76px;
        height: 76px;
    }

    .count__header,
    .tick__header span,
    .power__header span,
    .journey__header span,
    .tokenomics__header,
    .why__header,
    .power__item_green,
    .journey__title,
    .journey__num {
        font-size: 36px;
        line-height: 48px;
    }

    .half-circle_small {
        width: 48px;
        height: 96px;
    }

    .journey__items-wrapper {
        max-width: 640px;
    }

    .journey__item {
        gap: 15px;
        margin-bottom: 18px;
    }

    .journey__item:nth-child(1)::before,
    .journey__item:nth-child(4)::before {
        height: 2px;
        width: calc(338px + 15px + 43px);
    }

    .journey__item:nth-child(1)::before {
        top: -10px;
    }

    .journey__item:nth-child(4)::before {
        bottom: -10px;
    }

    .journey__num::before {
        height: 2px;
        width: calc(135px + 15px);
        bottom: -10px;
        right: 45%;
    }

    .journey__item:nth-child(2) .journey__num::before {
        left: 45%;
    }

    .footer {
        padding: 35px 30px 50px;
    }

    .tick__content {
        grid-template-columns: 35% 24% 35%;
        gap: 25px;
    }

    .tick__images::before {
        display: none;
    }

    .tick__balloons {
        width: 100%;
        top: auto;
        bottom: 18vw;
    }

    .security__header {
        font-size: 42px;
        line-height: 54px;
    }

    .count__time-text {
        font-size: 24px;
        line-height: 32px;
    }

    .count__time-num {
        font-size: 64px;
        line-height: 72px;
    }

    .join {
        padding: 12px 40px;
    }

    .join__text {
        margin-top: 30px;
    }

    .journey__img img {
        width: 400px;
    }

    .journey__item:nth-child(1),
    .journey__item:nth-child(3) {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .journey__item:nth-child(2),
    .journey__item:nth-child(4) {
        justify-content: flex-start;
    }

    .journey__items-wrapper {
        max-width: none;
        padding-left: 80px;
    }

    .journey__num {
        width: 50px;
        height: 50px;
        font-size: 24px;
        line-height: 32аpx;
    }

    .journey__text {
        text-align: left !important;
    }

    .tokenomics__content {
        gap: 10px;
    }

    .power__text {
        gap: 30px;
    }

    .power__item {
        max-width: none;
    }

    .power__content {
        gap: 35px;
    }
}


@media (max-width:768px) {
    .power__text {
        gap: 10px;
    }

    .header__buttons {
        gap: 10px;
    }

    .power__img img {
        width: 150px;
    }

    .power__text {
        margin-bottom: 50px;
    }

    .header__text {
        font-size: 52px;
        line-height: 64px;
        margin-bottom: 80px;
    }

    .header__buttons a {
        padding: 7px 14px;
    }

    .why__item {
        padding: 25px 10px;
    }

    .why__item_center {
        padding: 10px 10px 0;
    }

    .why__item_center p:first-child {
        text-align: center;
    }

    .why__item_center p img {
        width: 50px;
    }



    .security__header {
        font-size: 24px;
        line-height: 32px;
        text-align: center;

    }

    .security {
        padding: 0 10px;
    }

    .security__content {
        padding: 20px 0 20px 20px;
    }

    .security__buttons a {
        padding: 5px 10px;
    }

    .footer {
        flex-direction: column;
        gap: 25px;
    }
}

@media (max-width:640px) {
    .tick__content {
        padding-top: 50px;
    }

    .header__social {
        display: none;
    }

    .tick__header img {
        width: 150px;
    }

    .tick,
    .power,
    .journey,
    .tokenomics,
    .why {
        margin-bottom: 50px;
    }

    .header__top {
        top: 0;
        max-width: 100vw;
        border-radius: 0;
        left: 0;
    }

    .header__nav a {
        font-size: 20px;
        line-height: 28px;
    }

    .header__nav {
        transition: all .5s;
        height: 0px;
        overflow: hidden;
        background: #1e0b52;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 49.31px;
        left: 0;
        gap: 15px;
    }

    .header__nav_opened {
        padding-top: 50px !important;
        height: calc(100vh - 49.31px) !important;
    }


    .header__nav-socials {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .header__text {
        font-size: 42px;
        line-height: 54px;
    }

    .join__img img {
        width: 100px;
    }

    .join {
        gap: 20px;
    }

    .count__header,
    .tick__header span,
    .power__header span,
    .journey__header span,
    .tokenomics__header,
    .why__header,
    .power__item_green,
    .journey__title,
    .journey__num {
        font-size: 28px;
        line-height: 40px;
    }

    .count__time-num {
        font-size: 48px;
        line-height: 60px;
    }

    .count__time-text {
        font-size: 20px;
        line-height: 28px;
    }

    .tick__content {
        grid-template-columns: 46% 46%;
        gap: 10px;
    }

    .tick__images {
        display: none;
    }

    .tick__header span:nth-child(2),
    .power__header span:nth-child(2) {
        text-align: left;
    }

    .tokenomics__content {
        gap: 50px;
        display: flex;
        flex-direction: column;
    }

    .tokenomics__stat {
        flex-direction: column;
        display: flex;
    }

    .tokenomics__percentage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .why__content {
        flex-direction: column;
    }

    .tokenomics__graph-wrapper {
        position: absolute;
        z-index: 5;
    }

    .tokenomics__percentage {
        column-gap: 30px;
        row-gap: 65px;
        justify-items: center;

        width: 100%;
    }

    .tokenomics__stat {
        width: 100%;
    }

    .tokenomics__percentage-item {
        height: auto;
    }
}

@media (max-width:540px) {
    .footer {
        max-width: 100%;
    }

    .power__img img {
        width: 100px;
    }

    .header__buttons {
        display: flex;
        flex-direction: column;
    }

    .header__buttons a {
        width: 200px;
    }

    .header__bottom {
        padding: 25px 15px 50px;
    }

    .header__text {
        margin-bottom: 40px;
    }

    .join {
        gap: 10px;
        padding: 12px 20px;
    }

    .join__img img {
        width: 75px;
    }

    .security {
        flex-direction: column;
    }

    .security__text {
        width: 100%;
    }

    .security__content {
        border-left: none;
        border-top: 1.38px solid;
    }

    .journey__num {
        font-size: 16px;
        line-height: 24px;
        width: 36px;
        height: 36px;
    }

    .journey__items-wrapper {
        padding-left: 40px;
    }

    .journey__title {
        transform: translate(calc(-50% + 3vw), -50%) rotate(-90deg);
    }

    .tick__content {
        display: flex;
        flex-direction: column;
    }

    .tick__text {
        gap: 15ыpx;
    }
}

@media (max-width:480px) {
    .header__text {
        font-size: 36px;
        line-height: 48px;
    }

    .count {
        padding: 30px 15px;
    }

    .join {
        padding: 12px 10px;
        gap: 5px;
    }

    .join__text {
        margin-top: 0;
    }

    .join__img img {
        width: 50px;
    }

    .journey__num {
        width: 25px;
        height: 25px;
        font-size: 12px;
        line-height: 20px;
    }

    .journey__item {
        gap: 10px;
    }

    .power__img {
        display: none;
    }

    .journey__text {
        max-width: 285px;
    }
}